annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asgiref==3.11.1
ast_serialize==0.5.0
asttokens==3.0.0
attrs==26.1.0
audioop-lts==0.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
binaryornot==0.4.4
black==26.5.1
boto3==1.43.29
botocore==1.43.29
certifi==2024.12.14
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comm==0.2.2
comtypes==1.4.9
cookiecutter==2.6.0
cryptography==49.0.0
debugpy==1.8.11
decorator==5.1.1
distlib==0.3.9
distro==1.9.0
dj-database-url==3.1.2
Django==6.0.3
django-cors-headers==4.6.0
django-filter==25.2
django-tailwind==3.8.0
django-tinymce==4.1.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
drf-spectacular==0.29.0
ecdsa==0.19.2
email-validator==2.3.0
executing==2.1.0
fastapi==0.110.1
filelock==3.17.0
flake8==7.3.0
git-filter-repo==2.47.0
greenlet==3.5.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
inflection==0.5.1
iniconfig==2.3.0
ipykernel==6.29.5
ipython==8.31.0
isort==8.0.1
jedi==0.19.2
Jinja2==3.1.5
jiter==0.14.0
jmespath==1.1.0
jq==1.11.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.7.2
librt==0.11.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
motor==3.3.1
mypy==2.1.0
mypy_extensions==1.1.0
nest-asyncio==1.6.0
numpy==2.2.2
oauthlib==3.3.1
ollama==0.6.1
openai==2.31.0
opencv-python==4.11.0.86
packaging==24.2
pandas==3.0.3
parso==0.8.4
passlib==1.7.4
pathspec==1.1.1
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.6.0
prompt_toolkit==3.0.48
psutil==6.1.1
psycopg2-binary==2.9.12
pure_eval==0.2.3
pyasn1==0.6.3
PyAudio==0.2.14
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
Pygments==2.19.1
PyJWT==2.12.1
pymongo==4.5.0
PyMySQL==1.2.0
pypiwin32==223
pytest==9.1.0
python-dateutil==2.9.0.post0
python-discovery==1.1.0
python-dotenv==1.0.1
python-jose==3.5.0
python-multipart==0.0.32
python-slugify==8.0.4
pytokens==0.4.1
pyttsx3==2.98
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
qrcode==8.2
referencing==0.37.0
requests==2.32.5
requests-oauthlib==2.0.0
rich==13.9.4
rpds-py==0.30.0
rsa==4.9.1
s3transfer==0.18.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
SpeechRecognition==3.14.1
SQLAlchemy==2.0.50
sqlparse==0.5.3
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==0.37.2
tailwind==3.1.5b0
text-unidecode==1.3
tornado==6.4.2
tqdm==4.67.3
traitlets==5.14.3
typer==0.26.7
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.1
uritemplate==4.2.0
urllib3==2.3.0
uvicorn==0.25.0
virtualenv==20.29.1
wcwidth==0.2.13
whitenoise==6.12.0
wikipedia==1.4.0
